@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Roboto:wght@500;700&display=swap');


* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  
  
  place-items: center;
  overflow: hidden;
}

.parent:nth-child(1) > .child .flag, .parent:nth-child(1) > .child .countryname, .parent:nth-child(1) > .child .runs, .parent:nth-child(1) > .child .name, .parent:nth-child(1) > .child .player {
  opacity: 0%;
  animation: startUp 2s forwards;
  animation-delay: 7s;
}
.parent:nth-child(2) > .child .flag, .parent:nth-child(2) > .child .countryname, .parent:nth-child(2) > .child .runs, .parent:nth-child(2) > .child .name, .parent:nth-child(2) > .child .player {
  opacity: 0%;
  animation: startDown 2s forwards;
  animation-delay: 9s;
}
.parent:nth-child(3) > .child .flag, .parent:nth-child(3) > .child .countryname, .parent:nth-child(3) > .child .runs, .parent:nth-child(3) > .child .name, .parent:nth-child(3) > .child .player {
  opacity: 0%;
  animation: startUp 2s forwards;
  animation-delay: 11s;
}
.parent:nth-child(4) > .child .flag, .parent:nth-child(4) > .child .countryname, .parent:nth-child(4) > .child .runs, .parent:nth-child(4) > .child .name, .parent:nth-child(4) > .child .player {
  opacity: 0%;
  animation: startDown 2s forwards;
  animation-delay: 13s;
}


.parent:nth-last-child(4) > .child .flag, .parent:nth-last-child(4) > .child .countryname, .parent:nth-last-child(4) > .child .runs, .parent:nth-last-child(4) > .child .name, .parent:nth-last-child(4) > .child .player {
  opacity: 0%;
  animation: startUp 3s forwards;
  animation-delay: 146s;
}
.parent:nth-last-child(3) > .child .flag, .parent:nth-last-child(3) > .child .countryname, .parent:nth-last-child(3) > .child .runs, .parent:nth-last-child(3) > .child .name, .parent:nth-last-child(3) > .child .player {
  opacity: 0%;
  animation: startDown 3s forwards;
  animation-delay: 149s;
}
.parent:nth-last-child(2) > .child .flag, .parent:nth-last-child(2) > .child .countryname, .parent:nth-last-child(2) > .child .runs, .parent:nth-last-child(2) > .child .name, .parent:nth-last-child(2) > .child .player {
  opacity: 0%;
  animation: startUp 3s forwards;
  animation-delay: 152s;
}
.parent:nth-last-child(1) > .child .flag, .parent:nth-last-child(1) > .child .countryname, .parent:nth-last-child(1) > .child .runs, .parent:nth-last-child(1) > .child .name, .parent:nth-last-child(1) > .child .player {
  opacity: 0%;
  animation: startDown 3s forwards;
  animation-delay: 155s;
}


@keyframes startUp {
  0% {
    opacity: 0%;
    transform: translateY(200px);
  }
  100% {
    opacity: 100%;
    transform: translate(0);
  }
}

@keyframes startDown {
  0% {
    opacity: 0%;
    transform: translateY(-200px);
  }
  100% {
    opacity: 100%;
    transform: translate(0);
  }
}

@keyframes scroll {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(calc(-209px * 46));
  }
}

.slide-track {
  width: 836px;
  overflow: hidden;
}


.slide {
  font-family: 'Poppins', sans-serif;
  display: flex;
  width: calc(209px * 50);
  animation: scroll 130s linear forwards; 
  animation-delay: 16s;
  
}

.parent:nth-child(4n+1) > .child {
  background-color: #d1e293;
}

.parent:nth-child(4n+2) > .child {
  background-color: #b2e69d;
}

.parent:nth-child(4n) > .child {
  background-color: #96d6d6;
}

.parent:nth-child(4n+3) > .child {
  background-color: #deb0e8;
}

.btn {
  position: absolute;
}

img {
  width: 100%;
}

.parent {
  box-sizing: border-box;
  height: 393px;
  width: 209px;
  
}

.child {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  color: blueviolet;
  background-color: #b2e69d;
  width: calc(836/4)px;
  height: 240px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.child1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(260px*393/720);
  width: calc(836px/4);
  overflow: hidden;
}

.child2 {
  height: calc(120px*393/720);
}

.child1 img {
  position:relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  box-sizing: content-box;
  margin: auto;
}

.child .runs {
  font-size: 19px;
  font-weight: 600;
  color: black;
  height: calc(50px*393/720);
  width: 100%;
  line-height: 20px;
  text-align: center;
  box-sizing: border-box;
}

.child .name {
  font-size: 21px;
  font-weight: 600;
  color: black;
  height: calc(60px*393/720);
  width: 100%;
  line-height: calc(60px*393/720);
  text-align: center;
  box-sizing: border-box;
}

.child3 {
  display: flex;
  height: calc(340px*393/720);
}

.child3 .flag {
  position: relative;
  object-fit: fill;
  height: calc(170px*393/720);
  width: 100%;
  box-sizing: content-box;
  border: 3px solid black;
}

.child3 .country {
  line-height: calc(70px*393/720);
  position: relative;
  height: (70px*393/720);
}



.pentagon {
  box-shadow: 0px 0px 1px 2px black;
}



.child1 .pentagon {
  margin: 0px 0px calc(50px*393/720) 0px;
  position: relative;
  width: calc(180px*836/1280);
  border-width: calc(30px*393/720) calc(36px*393/620) calc(120px*393/720);
  border-style: solid;
  border-color: #abefcd ;
}

.pentagon::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: calc(120px*393/720);
  left: calc(-36px*836/1280);
  border-width: calc(60px*393/720) calc(126px*836/1280) 0px;
  border-style: solid;
  border-color: #abefcd transparent;
  filter: drop-shadow(0px 2px 0px black);
  overflow: hidden;
}



.box2 {
  height: calc(120px*393/720);
  background-color: rgb(201, 222, 222) !important;
}

.box3 {
  overflow: hidden;
  box-sizing: border-box;
  height: calc(360px*393/720);
  border-bottom: 2px solid white;
}

.player {
  width: calc(240px*836/1280);
  height: calc(352px*393/720);
  box-sizing: border-box;
  margin: 2px;
}

.player img {
  height: 100%;
  width: 100%;
}

.child1 .flag {
  position: absolute;
  top: calc(35px*393/720);
  justify-content: center;
  width: calc(170px*836/1280);
  height: calc(100px*393/720);
  z-index: 100;
  border: 2px solid black;
}



.child5 {
  position: relative;
}

.countryname {
  position: absolute;
  color: black;
  line-height: 25px;
  top: 80px;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  width: 150px;
  z-index: 2000;
}

.Thanks {
  top: -50px;
  left: -200px;
  z-index: -10;
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.Thanks img {
  height: 100%;
  height: 100%;
}

.end {
  display: flex;
  height: 720px;
  text-align: center;
  font-size: 50px;
  line-height: 620px;
}

.refbtn {
  position: absolute;
  z-index: 1000;
}

.smallCountry {
  font-size: 17px;
}

.bigCountry {
  font-size: 20px;
}

.smallName {
  font-size: 18px !important;
}

.bigName {
  font-size: 21px !important;
}